mixin Btn(text, type, classCustom,icon)
   if(!classCustom)
      if(type == "button")
         button.btn(type="submit",class=classCustom)
            span.inner #{text}
            if(icon===true)
               i.fa-light.fa-arrow-right.icon
            else 
               i(class=icon)
      else
         a.btn(href="",class=classCustom)
            span.inner #{text}
            if(icon===true)
               i.fa-light.fa-arrow-right.icon
            else 
               i(class=icon)
   else 
      if(type == "button")
         button.btn(type="submit",class=classCustom)
            span.inner #{text}
            if(icon===true)
               i.fa-light.fa-arrow-right.icon
            else 
               i(class=icon)
      else
         a.btn(href="", class=classCustom)
            span.inner #{text}
            if(icon===true)
               i.fa-light.fa-arrow-right.icon
            else 
               i(class=icon)
mixin PageNumber 
   ul.page-numbers
      li 
         a.prev.page-numbers(href="")
               i.fa.fa-angle-left
      li
         span.page-numbers.current   
               | 1
      li
         a.page-numbers(href="")   
               | 2
      li 
         span.page-numbers.dot 
               |...
      li
         a.page-numbers(href="")   
               | 10
      li 
         a.next.page-numbers(href="")
               i.fa.fa-angle-right
mixin breadCrumb(arr)
   .breadcrumb 
      .container
         ul.breadcrumb-list
            li.breadcrumb-item(data-aos="fade-right")
               a.breadcrumb-link(href="")
                  | Trang chủ
            each txt in arr
               li.breadcrumb-item(data-aos="fade-right")
                  a.breadcrumb-link(href="") #{txt}
mixin pagination(classCustom)
   .swiper-pagination(class=classCustom)

mixin CountDown(time,customClass)
   .cdw(data-time= time, class= customClass)
      .cdw-list 
            .cdw-item(style="display: none")
               .cdw-inner 
                  .number.date
            .cdw-item 
               .cdw-inner 
                  .number.hour
            .cdw-item 
               .cdw-inner 
                  .number.minute
            .cdw-item 
               .cdw-inner 
                  .number.second
mixin SwiperControl(customClass)
   .swiper-control(class= customClass) 
      .swiper-control-btn.swiper-prev 
            i.fa-light.fa-chevron-left
      .swiper-control-btn.swiper-next 
            i.fa-light.fa-chevron-right
mixin Swiper(customClass)
   .swiper-container 
      .swiper.rows 
         .swiper-wrapper 
            block
mixin Count()
   .count 
      .count-btn.count-minus 
         i.fas.fa-minus.icon
      input(type="text", class="count-input", max="999", min="0", value="1", hidden)
      p.count-number 
      .count-btn.count-plus 
         i.fas.fa-plus.icon
mixin img(name)
   img(src="./assets/images/" + name, alt="")
mixin popup(classCustom="",id="")
   .popup(data-popup-id= id)
      .popup-overlay
      .popup-main
         .popup-main-wrapper(class=classCustom)
            .popup-over
               .popup-wrapper
                  block
         .popup-close
            i.fas.fa-times.icon
mixin popupDt(classCustom="",id="")
   .popup(data-popup-id= id).open
      .popup-overlay
      .popup-main
         .popup-main-wrapper(class=classCustom)
            .heads 
               .container 
                  .heads-wrap 
                     a(href="").heads-logo
                        +img("popdt-logo.svg")
                     .popup-close
                        i.fas.fa-times.icon
            .popup-over
               .popup-wrapper
                  block
         
mixin title(text,des, classCustom)
   if(!classCustom)
      .head
         h2.t-title 
            | #{text}
         if(des)
            p.t-des 
               | #{des}
   else 
      .head(class=classCustom)
         h2.t-title 
            | #{text}
         if(des)
            p.t-des 
               | #{des}
mixin Checker(type,shape,text,classCustom,num,name)
   if(num == "has")
      if (shape == "circle")
         label.checker(class=classCustom) 
            input(type=type, name=name)
            span.circle 
            span.txt #{text}
            span.num 12
      else 
         label.checker(class=classCustom) 
            input(type=type , name=name)
            span.sqr 
            span.txt #{text}
            span.num 12
   else
      if (shape == "circle")
         label.checker(class=classCustom) 
            input(type=type, name=name)
            span.circle 
            span.txt #{text}
      else 
         label.checker(class=classCustom) 
            input(type=type , name=name)
            span.sqr 
            span.txt #{text}
mixin comment()
   .lib-cmt
      .lib-cmt-wr  
         .lib-cmt-box.cmtJS 
            ul.lib-cmt-list
               li.lib-cmt-item
                  .wrap 
                     .ava 
                        +img("minicircel.png")
                     .ctn 
                        p.ctn-name 
                           |Anonymous
                           span.ctn-name-small 20h
                        p.ctn-des Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                        .lib-cmt-rep 
                           .wrap 
                                 span.ctn-like.repJS
                                    span.ctn-like-txt Reply
                           .lib-cmt-f 
                                 form(action="")
                                    .lib-cmt-f-flex
                                       input(type="text")
                                       button
                                             i.fa-solid.fa-paper-plane
                        .replies-txt.repTxtJs 
                           +img("arrow-down.svg")
                           span.txt 
                              span.num 11 
                              |Replies
                  ul.lib-cmt-list.replies-drop.repDropJs
                     li.lib-cmt-item 
                        .wrap 
                           .ava 
                              +img("mini1.jpg")
                           .ctn 
                              p.ctn-name 
                                 |Sara
                                 span.ctn-name-small 20h
                              p.ctn-des Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                              .lib-cmt-rep 
                                 .wrap 
                                    span.ctn-like.repJS
                                          span.ctn-like-txt Reply
                                 .lib-cmt-f 
                                    form(action="")
                                          .lib-cmt-f-flex
                                             input(type="text")
                                             button
                                                i.fa-solid.fa-paper-plane
                     li.lib-cmt-item 
                        .wrap 
                           .ava 
                              +img("mini2.jpg")
                           .ctn 
                              p.ctn-name 
                                 |Sara
                                 span.ctn-name-small 20h
                              p.ctn-des Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                              .lib-cmt-rep 
                                 .wrap 
                                    span.ctn-like.repJS
                                          span.ctn-like-txt Reply
                                 .lib-cmt-f 
                                    form(action="")
                                          .lib-cmt-f-flex
                                             input(type="text")
                                             button
                                                i.fa-solid.fa-paper-plane
               li.lib-cmt-item
                  .wrap 
                     .ava 
                        +img("mini1.jpg")
                     .ctn 
                        p.ctn-name 
                           |Courtney Henry
                           span.ctn-name-small 20h
                        p.ctn-des Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                        .lib-cmt-rep 
                           .wrap 
                                 span.ctn-like.repJS
                                    span.ctn-like-txt Reply
                           .lib-cmt-f 
                                 form(action="")
                                    .lib-cmt-f-flex
                                       input(type="text")
                                       button
                                             i.fa-solid.fa-paper-plane
                        .replies-txt.repTxtJs 
                           +img("arrow-down.svg")
                           span.txt 
                              span.num 11 
                              |Replies
                  ul.lib-cmt-list.repDropJs
                     li.lib-cmt-item 
                        .wrap 
                           .ava 
                              +img("mini2.jpg")
                           .ctn 
                              p.ctn-name 
                                 |Courtney Henry
                                 span.ctn-name-small 20h
                              p.ctn-des Ultricies ultricies interdum dolor sodales. Vitae feugiat vitae vitae quis id consectetur. Aenean urna, lectus enim suscipit eget. Tristique bibendum nibh enim dui.
                              .lib-cmt-rep 
                                 .wrap 
                                    span.ctn-like.repJS
                                          span.ctn-like-txt Reply
                                 .lib-cmt-f 
                                    form(action="")
                                          .lib-cmt-f-flex
                                             input(type="text")
                                             button
                                                i.fa-solid.fa-paper-plane
      .lib-cmt-send 
         .form-list.row 
            .form-ip.col 
               p.text Tên
               input(type="text" placeholder="Nhập tên của bạn")
            .form-ip.col 
               +Checker("checkbox","","Comment Anonymously")
            .form-ip.col 
               p.text Comment
               textarea(name="" placeholder="Nhập nội dung") 
            .form-ip.col 
               +Btn("Comment","button")
      .lib-cmt-send 
         .lib-cmt-send-avt 
            .ava 
               +img("mini1.jpg")
            p.name Ryan Nguyen
         .form-list.row 
            .form-ip.col 
               +Checker("checkbox","","Comment Anonymously")
            .form-ip.col 
               p.text Comment
               textarea(name="" placeholder="Nhập nội dung") 
            .form-ip.col 
               +Btn("Comment","button")
mixin selectPong(defaultText, buttonTexts)
  .pro-select.selectJS
    .t-head.toggleSelect
      span.txt Sắp xếp: #{" "}
      .t-gr
        span.t-name.displayName #{defaultText}
        span.icon
          i.fa-light.fa-chevron-down.fw-7
    .b-pos.boxPanel
      .b-inner
        each text in buttonTexts
          button.t-link.getValue= text
mixin footer 
   .ft 
      .container 
         .ft-wrap 
            .ft-head 
               .ft-logo 
                  a(href="").custom-logo-link
                     +img("logo.svg")
               .t-slogan
                  span.t-text 
                     | Cổng thông tin 
                     span.fw-7.c-pri 
                        | MIỄN PHÍ 
                     | dành cho cộng đồng người Việt tại Mỹ
            .ft-nav
               ul.menu 
                  -
                     var arrs = [
                        {
                           txt:"VIỆC LÀM",
                        },
                        {
                           txt:"MUA CỬA TIỆM",
                        },
                        {
                           txt:"VIỆT EVENTS",
                        },
                        {
                           txt:"THUÊ NHÀ",
                        },
                        {
                           txt:"MUA NHÀ",
                        },
                        {
                           txt:"RAO VẶT",
                        },
                        {
                           txt:"LIÊN HỆ QUẢNG CÁO",
                        },
                     ]
                  each i,index in arrs
                     li
                        a(href="")
                           | #{i.txt}
            .ft-sc 
               .social 
                  .social-list 
                     a(href="").social-link 
                        +img("ic-fb.svg") 
                     a(href="").social-link 
                        +img("ic-yt.svg") 
                     a(href="").social-link 
                        +img("ic-ins.svg") 
                     a(href="").social-link 
                        +img("ic-x.svg")
            .ft-panel 
               .ft-list.row 
                  -
                     var arrs = [
                        {
                           tt:"LIÊN HỆ HỢP TÁC",
                           mail:"contact@vietinfo.us",
                           phone:"678 408 2288",
                        },
                        {
                           tt:"LIÊN HỆ QUẢNG CÁO",
                           mail:"ads@vietinfo.us",
                           phone:"678 408 2288",
                        },
                        {
                           tt:"HỖ TRỢ KỸ THUẬT",
                           mail:"admin@vietinfo.us",
                           phone:"678 408 2288",
                        },
                     ]
                  each i,index in arrs
                     .col.col-4
                        .ft-box 
                           .b-inner 
                              span.t-text 
                                 | #{i.tt}
                              .b-gr 
                                 a(href="").t-link
                                    | Email:#{i.mail} 
                                 a(href="").t-link
                                    | Phone:#{i.phone} 
            .ft-bank 
               .i-list
                  each i,index in Array(8)
                     a(href="").i-link
                        +img(`icon-bank (${index+1}).svg`)
            .ft-bot
               .ft-nav 
                  ul.menu
                     li 
                        a(href="")
                           | Privacy Policy
                     li 
                        a(href="")
                           | Terms of Service 
                     li 
                        a(href="")
                           | Ads Service Agreement
               span.t-text 
                  |  Designed by Qixtech - Web Design & Digital Marketing
               span.t-text 
                  | Copyright © 2024. VietInfo LLC. All Right Reserved. 
mixin proItem(item)
   .pro-wr 
      .pro-img 
         .pro-time 
            span.txt #{item.time}
         .pro-type 
            span.txt #{item.type}
         a(href="#").inner 
            +img(item.img)
      .pro-content
         if item.tag
            .pro-top 
               h3.pro-name #{item.price}
               if item.tag
                  .pro-tag #{item.tag}
         else 
            h3.pro-name #{item.price}
         if item.name
            h3.pro-name #{item.name}
         if item.note.length > 0 
            .pro-note
               each note in item.note
                  .pro-note-item 
                     span.txt.fw-5.c-txt-2 #{note}
         if item.rent || item.income
            .pro-note
               if item.rent
                  .pro-note-item 
                     span.txt 
                        span.txt-hidden Rent: 
                        span.fw-6.c-txt-3 #{item.rent}
                        span(style="font-size: .8em")  /month
               if item.income
                  .pro-note-item 
                     span.txt 
                        span.txt-hidden Income: 
                        span.fw-6.c-txt-3 #{item.income}
                        span(style="font-size: .8em")  /year
         .pro-des #{item.address}
mixin proItem2(item)
   .pro-wr
      .pro-img 
         .pro-time 
            span.txt #{item.time}
         .pro-type 
            span.txt #{item.type}
         a(href="#").inner 
            +img(item.img)
      .pro-content
         if item.price
            h3.pro-name #{item.price}
               span(style="font-size: .8em").fw-4 /month
         if item.name
            h3.pro-name #{item.name}
         div.pro-content-child
            if item.note.length > 0 
               .pro-note
                  each note in item.note
                     .pro-note-item 
                        if(note.icon)
                           .pro-li.fw-5.c-txt-2 
                              +img(note.icon)
                              span.txt #{note.name}
                        else 
                           span.txt.fw-5.c-txt-2 #{note.name}
            .pro-des #{item.address}
mixin proItem3(item)
   .pro-wr
      .pro-img 
         .pro-time 
            span.txt #{item.time}
         .pro-type 
            span.txt #{item.type}
         a(href="#").inner 
            +img(item.img)
      .pro-content
         if item.price
            h3.pro-name #{item.price}
         if item.name
            h3.pro-name #{item.name}
         .pro-content-child
            if item.note.length > 0 
               .pro-note
                  each note in item.note
                     .pro-note-item 
                        if(note.icon)
                           .pro-li.fw-5.c-txt-2 
                              +img(note.icon)
                              span.txt #{note.name}
                        else 
                           span.txt.fw-5.c-txt-2 #{note.name}
            .pro-des #{item.address}
mixin proItemSecond(item)
   .pro-wr.second 
      .pro-content 
         .pro-flex 
            .pro-time 
               span.txt #{item.time}
            .pro-type 
               span.txt #{item.type}
         h3.pro-name #{item.name}
         ul.pro-ul 
            li 
               .pro-li
                  +img('ic-pro-1.svg')
                  span.txt #{item.name_location}
            li 
               .pro-li
                  +img('ic-pro-2.svg')
                  span.txt #{item.name_address}
         .pro-flex
            .pro-li
               +img('ic-pro-3.svg')
               span.txt 
                  span(style="font-size: 1.1em").c-pri.fw-6 #{item.price}
                  span /hour
            .pro-li
               +img('ic-pro-4.svg')
               span.txt #{item.views} Views
mixin proItemThird(item)
   .pro-wr.third
      .pro-img 
         .inner 
            +img(item.img)
      .pro-content 
         h3.pro-name #{item.name}
         p.pro-des #{item.des}
         ul.pro-ul 
            li 
               .pro-li.fw-5
                  +img('ic-pro-2.svg')
                  span.txt #{item.address}
            li 
               .pro-note 
                  .pro-note-item 
                     .pro-li.fw-5
                        +img('ic-pro-6.svg')
                        span.txt #{item.time}
                  .pro-note-item 
                     .pro-li.fw-5
                        +img('ic-pro-4.svg')
                        span.txt #{item.views}
mixin proItemFourth(item)
   .pro-wr.four 
      .pro-content 
         h3.pro-name 
            +img("ic-loa.svg")
            span.txt Chăm sóc người già - Marietta, GA 30062
         .pro-des Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...
         .pro-note 
            .pro-note-item 
               .pro-li.fw-6.c-txt-2 
                  +img('ic-pro-2.svg')
                  span.txt Marietta 30062
            .pro-note-item 
               .pro-li.fw-6.c-txt-2 
                  +img('ic-pro-7.svg')
                  span.txt 2 ngày trước
            .pro-note-item 
               .pro-li.fw-6.c-txt-2 
                  +img('ic-pro-4.svg')
                  span.txt 1000
mixin proItemFive_First()
   .pro-wr.five 
      .pro-out
         .inner
            +img('pro-out.jpg')
      .pro-content 
         .pro-li 
            +img('ic-pro-4.svg')
            span.txt 1000
         h3.pro-name Bộ 5000 câu hỏi trắc nghiệm về Nail - Cẩm nang
         p.pro-des Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai, TP Hà Nội) với nhiều hoạt động hấp dẫn; là một trong những sự kiện quan trọng của quận Hoàng Mai hướng tới chào mừng kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10-10-1954 / 10-10-2024). Hội chợ được tổ chức nhằm thúc đẩy hoạt động xúc tiến thương mại, giao lưu kinh tế, tạo điểm sinh hoạt văn hóa, vui chơi giải trí, mua sắm cho nhân dân trong dịp kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10/10).
         .pro-control 
            a.pro-btn(href="#")
               span.txt Xem chi tiết
            a.pro-btn(href="#").second
               +img('ic-dl.svg')
               span.txt Tải xuống
mixin proItemFive()
   .pro-wr.five 
      .pro-content 
         .pro-li 
            +img('ic-pro-4.svg')
            span.txt 1000
         h3.pro-name Bộ 5000 câu hỏi trắc nghiệm về Nail - Cẩm nang
         p.pro-des Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai, TP Hà Nội) với nhiều hoạt động hấp dẫn; là một trong những sự kiện quan trọng của quận Hoàng Mai hướng tới chào mừng kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10-10-1954 / 10-10-2024). Hội chợ được tổ chức nhằm thúc đẩy hoạt động xúc tiến thương mại, giao lưu kinh tế, tạo điểm sinh hoạt văn hóa, vui chơi giải trí, mua sắm cho nhân dân trong dịp kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10/10).
         .pro-control 
            a.pro-btn(href="#")
               span.txt Xem chi tiết
            a.pro-btn(href="#").second
               +img('ic-dl.svg')
               span.txt Tải xuống
mixin proBanner(classCustom)
   .pro-bner(class=classCustom)
      if(!classCustom)
         .pro-bner-tag Sponsored
      .pro-bner-dc
         +img('pro-bner-dc.png')
      .pro-bner-img
         +img('pro-bner-img.jpg')
      .pro-bner-content 
         h3.pro-bner-name 
            |Chăm sóc
            br
            |người lớn tuổi
         p.pro-bner-des Dịch vụ tận tình, nhân viên chu đáo
         .pro-btn  
            span.txt Khám phá ngay
mixin proBannerSecond(img)
   a(href="").pro-bner-img-second 
      +img(img)
mixin HomeHero()
   .home-hero
      .home-hero-tags
         span.home-hero-tag Sponsored
      .home-hero-left
         .bg
            +img("hero-dec.png")
         .home-hero-ctn
            h3.home-hero-tt Trải nghiệm xứng tầm
            p.home-hero-des Nhà phát triển bất động sản hàng hiệu
            .home-hero-bot 
               +Btn("Khám phá ngay","")
               .social 
                  .social-list 
                     a(href="").social-link 
                        +img("ft-icon (1).svg") 
                     a(href="").social-link 
                        +img("ft-icon (2).svg") 
                     a(href="").social-link 
                        +img("ft-icon (3).svg")
                     a(href="").social-link 
                        +img("ft-icon (4).svg")
      .home-hero-right
         +img("hero-img.jpg")
mixin HomeHeroSecond()
   a(href="").home-hero-banner 
      +img("home-hero-banner.png")
mixin PageNumberCus 
   ul.page-numbers.page-navigation
      li 
         a.prev.page-numbers(href="")
            i.fa-solid.fa-arrow-left
            span.txt Previous
      li
         span.page-numbers.current   
               | 1
      li
         a.page-numbers(href="")   
               | 2
      li 
         span.page-numbers.dot 
               |...
      li
         a.page-numbers(href="")   
               | 10
      li 
         a.next.page-numbers(href="")
            span.txt Next
            i.fa-solid.fa-arrow-right
mixin AdminLabel(txt)
   label.f-label !{txt}
mixin AdminSelect(arr, classCustom)
   .admin-select(class=classCustom)
      select
         each item in arr
            option(value="demo") #{item}
mixin AdminInput(...attributes)
   input.admin-input(type="text" ...attributes)
mixin DropZone()
   .f-flex-col
      .dropzone#dropzone
         form(action="/upload")#dropzone-upload
            .dropzone-content 
               +img("ic-upload-pri.svg")
               p.title 
                  | Kéo thả hình ảnh or 
                  span.fw-6.c-pri Chọn và tải lên
               p.des Hoặc chọn ảnh cũ đã sử dụng lưu trong hệ thống để dùng lại
      .dropzone-slider
         +SwiperControl("dropzone-control")
         .swiper-container 
            .swiper.rows
               .swiper-wrapper
                  .swiper-slide.col.col-4 
                     .dropzone-wr
                        .dropzone-img 
                           +img("dropzone-img.jpg")
                        .dropzone-ct 
                           .dropzone-top 
                              .content 
                                 p.dropzone-title.fw-6 cover image.jpg
                                 p.dropzone-des 500kb
                              .dropzone-delete
                                 +img("ic-delete-2.svg")
                  .swiper-slide.col.col-4 
                     .dropzone-wr
                        .dropzone-img 
                           +img("dropzone-img.jpg")
                        .dropzone-ct 
                           .dropzone-top 
                              .content 
                                 p.dropzone-title.fw-6 Uploading...
                                 p.dropzone-des 65%  • 30 seconds remaining
                              .dropzone-control
                                 .dropzone-pause
                                    +img("ic-pause.svg")
                                 .dropzone-delete
                                    +img("ic-delete.svg")
                           .dropzone-progress 
                              span.inner
                     .dropzone-wr
                        .dropzone-img 
                           +img("dropzone-img.jpg")
                        .dropzone-ct 
                           .dropzone-top 
                              .content 
                                 p.dropzone-title.fw-6 Uploading...
                                 p.dropzone-des 65%  • 30 seconds remaining
                              .dropzone-control
                                 .dropzone-pause
                                    +img("ic-pause.svg")
                                 .dropzone-delete
                                    +img("ic-delete.svg")
                           .dropzone-progress 
                              span.inner
                  each item in Array(2)
                     .swiper-slide.col.col-4
                        .dropzone-wr
                           .dropzone-img 
                              +img("dropzone-img.jpg")
                           .dropzone-ct 
                              .dropzone-top 
                                 .content 
                                    p.dropzone-title.fw-6 woman potrait.jpg
                                    p.dropzone-des 500kb
                                 .dropzone-delete
                                    +img("ic-delete-2.svg")
                        .dropzone-wr
                           .dropzone-img 
                              +img("dropzone-img.jpg")
                           .dropzone-ct 
                              .dropzone-top 
                                 .content 
                                    p.dropzone-title.fw-6 woman potrait.jpg
                                    p.dropzone-des 500kb
                                 .dropzone-delete
                                    +img("ic-delete-2.svg")
mixin ThongTinLienHe
   .admin-block 
      .admin-heading-second.t-center
         h2.admin-title-second THÔNG TIN LIÊN HỆ
      .f-list.row.--layout-thongtinchung
         .f-item.col.col-4
            label.admin-check 
               input(type="radio" id="check-lienhe" class="check-radio-lienhe" name="check-lienhe"  hidden checked)
               span.admin-check-radio
               .admin-user 
                  p.name Tu Nguyen
                  p.des Email: admin@vietinfo.us
                  p.des Phone: 0123456789
         .f-item.col.col-8.flex-center
            label.admin-check 
               input(type="radio" id="check-themthongtin" class="check-radio-lienhe check-themthongtin" name="check-lienhe"  hidden)
               span.admin-check-radio
               span.txt.c-pri Thêm thông tin liên lạc khác
         .f-item.col.col-4.hideThongTinLienHe 
            +AdminLabel("Name") 
            input.admin-input(type="text" placeholder="Your name")
         .f-item.col.col-4.hideThongTinLienHe 
            +AdminLabel("Email") 
            input.admin-input(type="text" placeholder="Enter your email")
         .f-item.col.col-4.hideThongTinLienHe 
            +AdminLabel("Phone number") 
            input.admin-input(type="number" placeholder="Contact number")
mixin MoTaChiTiet
   .f-item.col
      +AdminLabel("Mô tả chi tiết")
      .motachitiet 
         +img("img-edit.png")
mixin NgayDangTinHetHan
   .f-item.col
      label.f-label.no-clamb
         | Ngày tin đăng hết hạn - expired 
         span.fw-4 (có thể gia hạn thêm thông qua dashboard “quản lý tin rao vặt")
      .admin-date.f-left 
         +img("ic-calendar.svg")
         input.admin-input(type="text" value="" placeholder="Chọn ngày tháng tin hết hiệu lực" name="datetimes")


mixin FourCountUp()
   .home-number-list.row
      -
         var numbers = [
            {
               icon:"number9.png",
               tt:"213111",
               des:"Pageviews"
            },
            {
               icon:"number10.png",
               tt:"213111",
               des:"Tìm kiếm"
            },
            {
               icon:"number11.png",
               tt:"213111",
               des:"Tương tác"
            },
            {
               icon:"number12.png",
               tt:"50",
               des:"State"
            }
         ]
      each number in numbers
         .col
            .home-number-item.horizontal
               .inner
                  .icon 
                     +img(number.icon)
                  .ctn
                     h4.tt.countNum=number.tt 
                     p.des=number.des
mixin AdvAreaImg(img,imgMobile) 
   .img-inner 
      +img(img)
      +img(imgMobile)
mixin SearLayout(title)
   section.sec-sear
      .sear
         .sear-wrap 
            .sear-head.sear-head-custom
               .sear-form 
                  form(action="")
                     .b-form-gr
                        .form-list.row 
                           .col.col-buger 
                              .hd-burger#hamburger-second
                                 .burger 
                                    .hamburger  
                                       .line 
                                       .line
                                       .line
                           .col.form-ip.col-search 
                              .b-ip-search
                                 span.icon
                                    +img("icon-search.svg")
                                 span.icon-remove 
                                    i.fa-light.fa-xmark.fw-7
                                 input(type="search" placeholder="Marietta")
                           .col.col-sl-md
                              .b-ip-select
                                 .selectCus
                                    .selectCusValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Loại việc làm
                                    .selectCusOptions
                                       .text-head Loại việc làm
                                       label.selectCusAll 
                                          input(type="checkbox")
                                          span.txt Chọn tất cả
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Làm nail
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Nhà hàng
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Văn phòng
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Việc khác
                                       .selectCusApply Áp dụng
                           .col.col-sl-md
                              .b-ip-select
                                 .selectCus
                                    .selectCusValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Thời gian đăng tin
                                    .selectCusOptions
                                       .text-head Thời gian đăng tin
                                       label.selectCusAll 
                                          input(type="checkbox")
                                          span.txt Chọn tất cả
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Một tuần trước
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Một tháng trước
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Lâu hơn
                                       .selectCusApply Áp dụng
                           .col.col-btn
                              +Btn("Tìm kiếm")
            .sear-btn 
               .sear-btn-burger 
                  span 
                  span 
                  span 
               span.txt Bản đồ
            .sear-block 
               .sear-row.row 
                  .col.col-7#map-block
                     .sear-map 
                        .inner
                           +img("map-img.jpg")
                           .btn-del 
                              span.t-text 
                                 | Remove boundary
                              span.icon 
                                 i.fa-light.fa-xmark.fw-7
                  .col.col-5
                     .sear-panel
                        .head-sc.mb-10
                           +title(title, "","dcor")
                        .head-sc.mb-10 
                           span.txt 107 kết quả
                           +selectPong("Mặc định",['Mới đăng Tiền lương (cao tới thấp)','Tiền lương (thấp tới cao)','Lượt xem (cao tới thấp)', 'Lượt xem (thấp tới cao)','Mặc định'])
                        block
                        +PageNumber()
                        footer.ft 
                           .container 
                              .ft-wrap 
                                 .ft-head 
                                    .ft-logo 
                                       a(href="").custom-logo-link
                                          +img("logo.svg")
                                    .t-slogan
                                       span.t-text 
                                          | Cổng thông tin 
                                          span.fw-7.c-pri 
                                             | MIỄN PHÍ 
                                          | dành cho cộng đồng người Việt tại Mỹ
                                 .ft-nav
                                    ul.menu 
                                       -
                                          var arrs = [
                                             {
                                                txt:"VIỆC LÀM",
                                             },
                                             {
                                                txt:"MUA CỬA TIỆM",
                                             },
                                             {
                                                txt:"VIỆT EVENTS",
                                             },
                                             {
                                                txt:"THUÊ NHÀ",
                                             },
                                             {
                                                txt:"MUA NHÀ",
                                             },
                                             {
                                                txt:"RAO VẶT",
                                             },
                                             {
                                                txt:"LIÊN HỆ QUẢNG CÁO",
                                             },
                                          ]
                                       each i,index in arrs
                                          li
                                             a(href="")
                                                | #{i.txt}
                                 .ft-sc 
                                    .social 
                                       .social-list 
                                          a(href="").social-link 
                                             +img("ic-fb.svg") 
                                          a(href="").social-link 
                                             +img("ic-yt.svg") 
                                          a(href="").social-link 
                                             +img("ic-ins.svg") 
                                          a(href="").social-link 
                                             +img("ic-x.svg")
                                 .ft-panel 
                                    .ft-list.row 
                                       -
                                          var arrs = [
                                             {
                                                tt:"LIÊN HỆ HỢP TÁC",
                                                mail:"contact@vietinfo.us",
                                                phone:"678 408 2288",
                                             },
                                             {
                                                tt:"LIÊN HỆ QUẢNG CÁO",
                                                mail:"ads@vietinfo.us",
                                                phone:"678 408 2288",
                                             },
                                             {
                                                tt:"HỖ TRỢ KỸ THUẬT",
                                                mail:"admin@vietinfo.us",
                                                phone:"678 408 2288",
                                             },
                                          ]
                                       each i,index in arrs
                                          .col.col-4
                                             .ft-box 
                                                .b-inner 
                                                   span.t-text 
                                                      | #{i.tt}
                                                   .b-gr 
                                                      a(href="").t-link
                                                         | Email:#{i.mail} 
                                                      a(href="").t-link
                                                         | Phone:#{i.phone} 
                                 .ft-bank 
                                    .i-list
                                       each i,index in Array(8)
                                          a(href="").i-link
                                             +img(`icon-bank (${index+1}).svg`)
                                 .ft-bot
                                    .ft-nav 
                                       ul.menu
                                          li 
                                             a(href="")
                                                | Privacy Policy
                                          li 
                                             a(href="")
                                                | Terms of Service 
                                          li 
                                             a(href="")
                                                | Ads Service Agreement
                                    span.t-text 
                                       |  Designed by Qixtech - Web Design & Digital Marketing
                                    span.t-text 
                                       | Copyright © 2024. VietInfo LLC. All Right Reserved. 
mixin PopupSideBar()
   .wrapper 
      .popdt-thumbnail 
         .img 
            .img-inner 
               +img("popdt-thumbnail.jpg")
      .popdt-contact 
         p.tt Liên hệ:
         p.des Darynda Jenkins
         .popdt-address 
            a(href="").link 
               +img("ic-send.svg") 
               span.txt keller@gmail.com
            a(href="").link 
               +img("ic-phone.svg") 
               span.txt 012345667
      .popdt-map 
         .iframe 
            iframe(
            referrerpolicy="no-referrer-when-downgrade" 
            loading="lazy" 
            allowfullscreen="" 
            style="border:0;" 
            height="450" 
            width="600" 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2654293242267!2d106.6535495758385!3d10.790971358923679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed189fa855d%3A0xf63e15bfce46baef!2sC%C3%B4ng%20ty%20TNHH%20-%20MONA%20MEDIA!5e0!3m2!1svi!2s!4v1732719275356!5m2!1svi!2s"
            )
      .popdt-share 
         span.txt Share this listing:
         .social 
            .social-list 
               a(href="").social-link
                  +img("ic-fb.svg") 
               a(href="").social-link
                  +img("ic-x.svg") 
      .pro-bner
         +proBannerSecond("pro-bner-sidebar.png")

mixin AdminDate()
   .adminDate 
      .adminDate-popup 
         .adminDate-slide 
            +SwiperControl("posi plus")
            .swiper 
               .swiper-wrapper 
                  -
                     var years = [
                        {
                           name:"2020"
                        },
                        {
                           name:"2021"
                        },
                        {
                           name:"2022"
                        },
                        {
                           name:"2023"
                        },
                        {
                           name:"2024"
                        },
                     ] 
                  each year in years
                     .swiper-slide
                        .adminDate-slide-item   
                           input(type="text" value=`${year.name}`)
                           p.txt=year.name
         .adminDate-note Chọn một hoặc nhiều tháng bạn muốn hiện quảng cáo
         .adminDate-list.row 
            -
               var months = [
                  {
                     name:"January",
                     status:""
                  },
                  {
                     name:"February",
                     status:""
                  },
                  {
                     name:"March",
                     status:""
                  },
                  {
                     name:"April",
                     status:"disabled"
                  },
                  {
                     name:"May",
                     status:""
                  },
                  {
                     name:"June",
                     status:""
                  },
                  {
                     name:"July",
                     status:""
                  },
                  {
                     name:"August",
                     status:""
                  },
                  {
                     name:"September",
                     status:""
                  },
                  {
                     name:"October",
                     status:""
                  },
                  {
                     name:"November",
                     status:""
                  },
                  {
                     name:"December",
                     status:""
                  },
               ]
            each month in months
               label.adminDate-item.col(class=`${month.status}`)
                  input(type="checkbox" value=`${month.name}` hidden)
                  .inner
                     span.txt=month.name
         .adminDate-bottom 
            .adminDate-result 
               span.txt Thời gian quảng cáo:
               .adminDate-result-list
            .adminDate-button
               .adminDate-btn.cancel Cancel
               .adminDate-btn.save Save
      .adminDate-ip
         +img("ic-calendar.svg")
         input(type="text" placeholder="Chọn một hoặc nhiều tháng bạn muốn hiện quảng cáo")