extends layout/layout

block vars
   -title = 'Home'
   -bodyClass = 'page-home'

block container 
   +popupDt("popdt","dt")
      .container
         .popdt-img 
            .popdt-img-all
               +img("ic-seeall.svg") 
               span.txt See all 33 photos
            .popdt-img-grid 
               each val,index in Array(5)
                  .popdt-image
                     a(href=`./assets/images/popdt-img${index+1}.jpg`).img(data-fancybox="gallery") 
                        .tag Cho thuê
                        +img(`popdt-img${index+1}.jpg`)
         .popdt-flex.row 
            .popdt-main.col 
               .wrapper 
                  .popdt-info.popdt-block
                     .popdt-info-top
                        .info 
                           p.tt $3,000/
                              span.tt-sub month
                           p.des 139 Triumph Rd, Dallas, TX 75241
                        .ser 
                           .ser-item
                              +img("ic-bed.svg")
                              span.txt 2 beds
                           .ser-item
                              +img("ic-bath.svg")
                              span.txt 2 baths
                           .ser-item
                              +img("ic-sqft.svg")
                              span.txt 11,300 sqft
                     .popdt-info-bot 
                        .fea 
                           .fea-item 
                              +img("ic-comm.svg")
                              span.txt Commerce
                           .fea-item 
                              +img("ic-build.svg")
                              span.txt Built in 2005
                           .fea-item 
                              +img("ic-park.svg")
                              span.txt Covered parking
                  .popdt-detail.popdt-block 
                     p.tt Chi tiết
                     input(type="checkbox" id="more")
                     .des
                        p.des-txt 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                     label(for="more").link 
                        +img("arrow-down.svg")
                        span.link-wrap 
                           span.txt Show more
                           span.txt Show less
                     .popdt-time 
                        .popdt-time-it
                           +img("ic-clock.svg")
                           span.txt 2 days
                              span.txt-sub on Vietinfo
                        .popdt-time-it
                           +img("ic-eyes.svg")
                           span.txt 10,758
                              span.txt-sub views
                  .popdt-school.popdt-block 
                     p.tt Trường học
                     .popdt-schools
                        .popdt-school-item 
                           +img("710.svg")
                           .ctn 
                              p.name Thomas L Marsalis Elementary School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold PK-5
                                 p.val-item 
                                    |Distance: 
                                    span.bold 2 mi
                        .popdt-school-item 
                           +img("510.svg")
                           .ctn 
                              p.name Boude Storey Middle School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold 6-8
                                 p.val-item 
                                    |Distance: 
                                    span.bold 4 mi
                        .popdt-school-item 
                           +img("210.svg")
                           .ctn 
                              p.name South Oak Cliff High School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold 9-12
                                 p.val-item 
                                    |Distance: 
                                    span.bold 3.5 mi
                  .popdt-cmt.popdt-block 
                     p.tt Comments
                     +comment()
            .popdt-side.col 
               .wrapper 
                  .popdt-contact 
                     p.tt Liên hệ:
                     p.des Darynda Jenkins
                     .popdt-address 
                        a(href="").link 
                           +img("ic-send.svg") 
                           span.txt keller@gmail.com
                        a(href="").link 
                           +img("ic-phone.svg") 
                           span.txt 012345667
                  .popdt-map 
                     .iframe 
                        iframe(
                        referrerpolicy="no-referrer-when-downgrade" 
                        loading="lazy" 
                        allowfullscreen="" 
                        style="border:0;" 
                        height="450" 
                        width="600" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2654293242267!2d106.6535495758385!3d10.790971358923679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed189fa855d%3A0xf63e15bfce46baef!2sC%C3%B4ng%20ty%20TNHH%20-%20MONA%20MEDIA!5e0!3m2!1svi!2s!4v1732719275356!5m2!1svi!2s"
                        )
                  .popdt-share 
                     span.txt Share this listing:
                     .social 
                        .social-list 
                           a(href="").social-link
                              +img("ic-fb.svg") 
                           a(href="").social-link
                              +img("ic-x.svg") 
   section.sec-home-bn 
      .home-bn 
         .bg 
            +img("bn-home.jpg")
         .container 
            .home-bn-ctn
               h1.home-bn-tt 
                  |Nâng tầm 
                  br
                  |Giá trị Việt
               .home-bn-srch
                  form(action="") 
                     .home-bn-srch-box
                        .sl 
                           select(name="" class="re-select-main" data-placeholder="Danh mục") 
                              option(value="")  Danh mục
                              option(value="1")  Danh mục 1
                              option(value="2")  Danh mục 2
                              option(value="3")  Danh mục 3
                        .ip 
                           .ip-wrap 
                              +img("ic-pin.svg")
                              input(type="text" placeholder="State, city, ZIP code")
                           +Btn("Tìm kiếm","button")
                           button.ip-icon 
                              +img("ic-srch.svg")
   section.sec-home-hero 
      .home-hero.ss-pd
         .container 
            .home-hero 
               .home-hero-tags 
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg   
                     +img("hero-dec.png")
                  .home-hero-ctn    
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg") 
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right 
                  +img("hero-img.jpg")
   section.sec-home-number 
      .home-number.ss-pd
         .container 
            .home-number-list.row.rows-4 
               -
                  var numbers = [
                     {
                        icon:"number1.png",
                        tt:"317,826",
                        des:"Lượt truy cập"
                     },
                     {
                        icon:"number2.png",
                        tt:"20,826",
                        des:"Tài khoản đăng ký"
                     },
                     {
                        icon:"number3.png",
                        tt:"20,826",
                        des:"Việc làm"
                     },
                     {
                        icon:"number4.png",
                        tt:"20,826",
                        des:"Bất động sản"
                     },
                     {
                        icon:"number5.png",
                        tt:"20,826",
                        des:"Cửa tiệm - nhà hàng"
                     },
                     {
                        icon:"number6.png",
                        tt:"20,826",
                        des:"Events - Sự kiện"
                     },
                     {
                        icon:"number7.png",
                        tt:"20,826",
                        des:"Rao vặt"
                     },
                     {
                        icon:"number8.png",
                        tt:"20,826",
                        des:"Businesses listing"
                     }
                  ]
               each number in numbers
                  .col
                     .home-number-item
                        .inner
                           .icon 
                              +img(number.icon)
                           h4.tt=number.tt 
                           p.des=number.des
   section.sec-home-solve 
      .home-solve.ss-pd
         .container 
            .home-solve-list.row.rows-3.gap-res
               -
                  var solves = [
                     {
                        icon:"solve1.png",
                        tt:"Thiết kế banner",
                        des:"Chúng tôi cung cấp dịch vụ thiết kế banner quảng cáo cho cá nhân và doanh nghiệp",
                     },
                     {
                        icon:"solve2.png",
                        tt:"Thiết kế website",
                        des:"Với 15+ năm kinh nghiệm chúng tôi thiết kế customize Website chuẩn SEO chuyên nghiệp cho doanh nghiệp",
                     },
                     {
                        icon:"solve3.png",
                        tt:"Digital Marketing",
                        des:"Giải pháp digital marketing chuyên nghiệp nhằm giúp khách hàng quảng bá dịch vụ và nâng tầm vị thế thương hiệu",
                     }
                  ]
               each solve in solves  
                  .col 
                     .home-solve-item
                        .inners 
                           .icon 
                              +img(solve.icon)
                           .bot
                              h4.tt=solve.tt 
                              p.des=solve.des
                              +Btn("Liên hệ tư vấn","","trans")
                     


                           

                     
                     