extends layout/layout

block vars
   -title = 'Nhà hàng đăng bán'
   -bodyClass = 'page-search page-result'

block container 
   section.sec-sear 
      .sear
         .sear-wrap 
            .sear-head 
               .sear-form 
                  form(action="")
                     .b-form-gr
                        .form-list.row 
                           .col.form-ip.col-search 
                              .b-ip-search
                                 span.icon
                                    +img("icon-search.svg")
                                 span.icon-remove 
                                    i.fa-light.fa-xmark.fw-7
                                 input(type="search" placeholder="Marietta")
                           .col.col-sl-md  
                              .b-ip-select
                                 .selectCus
                                    .selectCusValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Loại bất động sản
                                    .selectCusOptions
                                       .text-head Loại bất động sản
                                       label.selectCusAll 
                                          input(type="checkbox")
                                          span.txt Chọn tất cả
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Nhà ở
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Thương mại
                                       .selectCusApply Áp dụng
                           .col.col-sl-md  
                              .b-ip-select
                                 .selectTwo
                                    .selectTwoValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Phòng ngủ - tắm
                                    .selectTwoOptions
                                       .selectTwoGr
                                          p.txt Phòng ngủ
                                          .selectTwoGrFlex
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt any
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt 1
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt 2
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt 3
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt 4
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo")
                                                span.txt 5+
                                       .selectTwoGr
                                          p.txt Phòng Tắm
                                          .selectTwoGrFlex
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt any
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt 1
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt 2
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt 3
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt 4
                                             label.selectTwoOption 
                                                input(type="radio", name="rdo2")
                                                span.txt 5+
                                       .selectTwoApply Áp dụng
                           .col.col-sl-md
                              .b-ip-select
                                 .b-range 
                                    .range-wrap
                                       .range-head 
                                          input(type="number" hidden).rangeValue
                                          span.icon-arrow 
                                             i.fa-light.fa-chevron-down
                                          span.t-txt.rangeTextValue Giá tiền
                                       .range-panel 
                                          .range
                                             .range-flex
                                                .range-item.min
                                                   span.price 
                                                      | $500
                                                .range-item
                                                   span.price 
                                                      | $500,000
                                             .range-slider
                                                .progress
                                             .range-input 
                                                input(type="range" name="price_min" step="100" min="500" max="500000" value="0").range-min
                                                input(type="range" name="price_max" step="100" min="500" max="500000" value="500000").range-max
                                             .range-item.max.fw-6
                                                   span.price 
                                                      | $500,000
                                                   span.txt /tháng
                                             .range-apply.btn-text Áp dụng  
                           .col.col-btn
                              +Btn("Tìm kiếm")
            .sear-block 
               .sear-row.row 
                  .col.col-7 
                     .sear-map 
                        .inner
                           +img("map-img.jpg")
                           .btn-del 
                              span.t-text 
                                 | Remove boundary
                              span.icon 
                                 i.fa-light.fa-xmark.fw-7
                  .col.col-5
                     .sear-panel 
                        .head-sc.mb-10
                           +title("Bất động sản cho thuê tại North Carolina", "","dcor")
                        .head-sc.mb-10 
                           span.txt 107 kết quả
                           +selectPong("Mặc định",['Giá tiền (thấp tới cao)','Giá tiền (cao tới thấp)','Income (thấp tới cao)', 'Income (cao tới thấp)','Mặc định'])
                        .pro-list.row 
                           - 
                              var proArr = [
                                 {
                                    img: "pro-1.jpg",
                                    time: "2 ngày trước",
                                    type: "Tiệm nail",
                                    price: "$500,000",
                                    tag: "Thương lượng",
                                    note: [
                                       "6 tables",
                                       "6 chairs",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-2.jpg",
                                    time: "2 ngày trước",
                                    type: "Nhà hàng",
                                    price: "$500,000",
                                    tag: "Thương lượng",
                                    note: [
                                       "Nam Phuong Restaurant",
                                       "36 seats",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-3.jpg",
                                    time: "2 ngày trước",
                                    type: "Kinh doanh khác",
                                    price: "$500,000",
                                    note: [
                                       "Xưởng sửa chữa ô tô Đại Việt",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                  {
                                    img: "pro-4.jpg",
                                    time: "2 ngày trước",
                                    type: "Kinh doanh khác",
                                    price: "$500,000",
                                    note: [
                                       "Xưởng sửa chữa ô tô Đại Việt",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                   {
                                    img: "pro-2.jpg",
                                    time: "2 ngày trước",
                                    type: "Nhà hàng",
                                    price: "$500,000",
                                    tag: "Thương lượng",
                                    note: [
                                       "Nam Phuong Restaurant",
                                       "36 seats",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                              ]
                           each item, index in proArr
                              if(index == 2)
                                 .pro-item.col.col-6
                                    .pro-bner 
                                       .pro-bner-tag Sponsored
                                       .pro-bner-dc
                                          +img('pro-bner-dc.png')
                                       .pro-bner-img
                                          +img('pro-bner-img.jpg')
                                       .pro-bner-content 
                                          h3.pro-bner-name
                                             |Chăm sóc
                                             br
                                             |người lớn tuổi
                                          p.pro-bner-des Dịch vụ tận tình, nhân viên chu đáo
                                          .pro-btn 
                                             span.txt Khám phá ngay
                              .pro-item.col.col-6
                                 .pro-wr 
                                    .pro-img 
                                       .pro-time 
                                          span.txt #{item.time}
                                       .pro-type 
                                          span.txt #{item.type}
                                       a(href="#").inner 
                                          +img(item.img)
                                    .pro-content
                                       if item.tag
                                          .pro-top 
                                             h3.pro-name #{item.price}
                                             if item.tag
                                                .pro-tag #{item.tag}
                                       else 
                                          h3.pro-name #{item.price}
                                       if item.name
                                          h3.pro-name #{item.name}
                                       if item.note.length > 0 
                                          .pro-note
                                             each note in item.note
                                                .pro-note-item 
                                                   span.txt.fw-5.c-txt-2 #{note}
                                       if item.rent || item.income
                                          .pro-note
                                             if item.rent
                                                .pro-note-item 
                                                   span.txt.fw-5 Rent: 
                                                      span.fw-6.c-txt-3 #{item.rent}
                                                      span(style="font-size: .8em") /month
                                             if item.income
                                                .pro-note-item 
                                                   span.txt.fw-5 Income: 
                                                      span.fw-6.c-txt-3 #{item.income}
                                                      span(style="font-size: .8em") /year
                                       .pro-des #{item.address}
                        +PageNumber()
                     +footer()
   +popupDt("popdt","dt")
      .container
         .popdt-img.gallery-container 
            .popdt-img-all.open-gallery 
               +img("ic-seeall.svg") 
               span.txt See all 33 photos
            .popdt-img-grid.gallery
               each val,index in Array(5)
                  .popdt-image
                     span(data-src=`./assets/images/popdt-img${index+1}.jpg`).gItem.img
                        .tag Cho thuê
                        +img(`popdt-img${index+1}.jpg`)
         .popdt-flex.row 
            .popdt-main.col 
               .wrapper 
                  .popdt-info.popdt-block
                     .popdt-info-top
                        .info 
                           p.tt $345,00
                              span.popdt-info-tag Thương lượng
                           p.des 139 Triumph Rd, Dallas, TX 75241
                        .ser 
                           .ser-item
                              +img("ic-seat.svg")
                              span.txt 2 seats
                           .ser-item
                              +img("ic-sqft.svg")
                              span.txt 11,300 sqft
                     .popdt-info-bot 
                        .info    
                           .info-item 
                              p.value 
                                 span.bold Nam Phuong Restaurant
                           .info-item 
                              p.name Rent: 
                              p.value  
                                 span.bold $1,500
                                 |/month
                           .info-item 
                              p.name Income:
                              p.value  
                                 span.bold  $1,000,000
                                 |/year
                        .fea 
                           .fea-item 
                              +img("ic-comm.svg")
                              span.txt Restaurant
                  .popdt-detail.popdt-block 
                     p.tt Chi tiết
                     input(type="checkbox" id="more")
                     .des
                        p.des-txt 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                           |Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng Kong...Cho thuê nhà riêng cho gia đình cạnh chợ Hồng 
                     label(for="more").link 
                        +img("arrow-down.svg")
                        span.link-wrap 
                           span.txt Show more
                           span.txt Show less
                     .popdt-time 
                        .popdt-time-it
                           +img("ic-clock.svg")
                           span.txt 2 days
                              span.txt-sub on Vietinfo
                        .popdt-time-it
                           +img("ic-eyes.svg")
                           span.txt 10,758
                              span.txt-sub views
                  .popdt-school.popdt-block 
                     p.tt Trường học
                     .popdt-schools
                        .popdt-school-item 
                           +img("710.svg")
                           .ctn 
                              p.name Thomas L Marsalis Elementary School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold PK-5
                                 p.val-item 
                                    |Distance: 
                                    span.bold 2 mi
                        .popdt-school-item 
                           +img("510.svg")
                           .ctn 
                              p.name Boude Storey Middle School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold 6-8
                                 p.val-item 
                                    |Distance: 
                                    span.bold 4 mi
                        .popdt-school-item 
                           +img("210.svg")
                           .ctn 
                              p.name South Oak Cliff High School
                              .val
                                 p.val-item 
                                    |Grades: 
                                    span.bold 9-12
                                 p.val-item 
                                    |Distance: 
                                    span.bold 3.5 mi
                  .popdt-cmt.popdt-block 
                     p.tt Comments
                     +comment()
                  .popdt-block.popdt-slider.slider-three 
                     .head-sc
                        +title("Nhà hàng đang bán khác trong khu vực")
                        +SwiperControl()
                     .swiper-container 
                        .swiper.rows
                           .swiper-wrapper 
                              each val,index in Array((5))
                                 .swiper-slide.col
                                    .pro-wr 
                                       .pro-img 
                                          .pro-time
                                             span.txt 2 ngày trước
                                          .pro-type
                                             span.txt Nhà hàng
                                          a(href="#").inner 
                                             +img("pro-1.jpg")
                                       .pro-content
                                          .pro-top 
                                             h3.pro-name $500,000
                                             .pro-tag Thương lượng
                                          .pro-note
                                             .pro-note-item 
                                                   span.txt.fw-5.c-txt-2 6 tables
                                             .pro-note-item 
                                                   span.txt.fw-5.c-txt-2 6 chairs
                                             .pro-note-item 
                                                   span.txt.fw-5.c-txt-2 11,300 sqft
                                          .pro-note
                                             .pro-note-item 
                                                span.txt.fw-5 Rent: 
                                                   span.fw-6.c-txt-3 $1,500
                                                   span(style="font-size: .8em") /month
                                             .pro-note-item 
                                                span.txt.fw-5 Income: 
                                                   span.fw-6.c-txt-3 $1,000
                                                   span(style="font-size: .8em") /year
                                          .pro-des 471 Tam Oshanter Dr SE, Marietta, GA, 30067
            .popdt-side.col 
               +PopupSideBar()
      +footer()