extends layout/layout

block vars
   -title = ''
   -bodyClass = 'page-search page-result'

block container 
   section.sec-sear 
      .sear
         .sear-wrap 
            .sear-head 
               .sear-form 
                  form(action="")
                     .b-form-gr
                        .form-list.row 
                           .col.form-ip.col-search 
                              .b-ip-search
                                 span.icon
                                    +img("icon-search.svg")
                                 span.icon-remove 
                                    i.fa-light.fa-xmark.fw-7
                                 input(type="search" placeholder="Marietta")
                           .col.col-sl-md
                              .b-ip-select
                                 .selectCus
                                    .selectCusValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Loại việc làm
                                    .selectCusOptions
                                       .text-head Loại việc làm
                                       label.selectCusAll 
                                          input(type="checkbox")
                                          span.txt Chọn tất cả
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Làm nail
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Nhà hàng
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Văn phòng
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Việc khác
                                       .selectCusApply Áp dụng
                           .col.col-sl-md
                              .b-ip-select
                                 .selectCus
                                    .selectCusValue
                                       input(type="text", hidden)
                                       span.icon-arrow 
                                          i.fa-light.fa-chevron-down
                                       .txt Thời gian đăng tin
                                    .selectCusOptions
                                       .text-head Thời gian đăng tin
                                       label.selectCusAll 
                                          input(type="checkbox")
                                          span.txt Chọn tất cả
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Một tuần trước
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Một tháng trước
                                       label.selectCusOption 
                                          input(type="checkbox")
                                          span.txt Lâu hơn
                                       .selectCusApply Áp dụng
                           .col.col-btn
                              +Btn("Tìm kiếm")
            .sear-block 
               .sear-row.row 
                  .col.col-7 
                     .sear-map 
                        .inner
                           +img("map-img.jpg")
                           .btn-del 
                              span.t-text 
                                 | Remove boundary
                              span.icon 
                                 i.fa-light.fa-xmark.fw-7
                  .col.col-5
                     .sear-panel 
                        .head-sc.mb-10
                           +title("Việc làm tại North Carolina", "","dcor")
                        .head-sc.mb-10 
                           span.txt 107 kết quả
                           +selectPong("Mặc định",['Mới đăng Tiền lương (cao tới thấp)','Tiền lương (thấp tới cao)','Lượt xem (cao tới thấp)', 'Lượt xem (thấp tới cao)','Mặc định'])
                        .pro-list.row 
                           - 
                              var proArrSecond = [
                                 {
                                    name: "Tuyển phục vụ nhà hàng Việt Nam",
                                    time: "59 phút trước",
                                    type: "Nhà hàng",
                                    name_location: "Pho Dai Viet Restaurant",
                                    name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                                    price: "25 - 40",
                                    views: "500"
                                 },
                                 {
                                    name: "Tuyển quản lý nhà hàng Nhật",
                                    time: "59 phút trước",
                                    type: "Nhà hàng",
                                    name_location: "Japanese Restaurant",
                                    name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                                    price: "25 - 40",
                                    views: "500"
                                 },
                                 {
                                    name: "Tuyển trợ lý luật sư",
                                    time: "59 phút trước",
                                    type: "Văn phòng",
                                    name_location: "United Lawyer Firm",
                                    name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                                    price: "25 - 40",
                                    views: "500"
                                 }
                              ]
                           each item, index in proArrSecond
                              if(index == 2)
                                 .pro-item.col.col-6
                                    +proBanner("--modifier")  
                              .pro-item.col.col-6
                                 +proItemSecond(item)
                           - 
                              var proArrThird = [
                                 {
                                    img: "pro-9.jpg",
                                    time: "2 ngày trước",
                                    type: "Thương mại",
                                    name: "ABC Plaza",
                                    note: [
                                       {
                                          name: "$24.00 - $25.00 SF/YR",
                                       },
                                       {
                                          name: "150 - 2000 sqft",
                                       },
                                       {
                                          name: "Built in 2018"
                                       },
                                    ],
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-12.jpg",
                                    time: "2 ngày trước",
                                    type: "Nhà ở",
                                    price: "$1,000",
                                    note: [
                                       {
                                          name: "2 bed",
                                          icon: "ic-pro-bed.svg"
                                       },
                                       {
                                          name: "2 ba",
                                          icon: "ic-pro-shower.svg"
                                       },
                                       {
                                          name: "11,300 sqft"
                                       },
                                    ],
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-10.jpg",
                                    time: "2 ngày trước",
                                    type: "Nhà ở",
                                    price: "$1,000",
                                    note: [
                                       {
                                          name: "2 bed",
                                          icon: "ic-pro-bed.svg"
                                       },
                                       {
                                          name: "2 ba",
                                          icon: "ic-pro-shower.svg"
                                       },
                                       {
                                          name: "11,300 sqft"
                                       },
                                    ],
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 }
                              ]
                           each item,index in proArrThird
                              if(index == 2)
                                 .pro-item.col.col-6
                                    +proBanner("--modifier --first")
                              .pro-item.col.col-6
                                 +proItem2(item)
                           - 
                              var proArr = [
                                 {
                                    img: "pro-1.jpg",
                                    time: "2 ngày trước",
                                    type: "Tiệm nail",
                                    price: "$500,000",
                                    tag: "Thương lượng",
                                    note: [
                                       "6 tables",
                                       "6 chairs",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-2.jpg",
                                    time: "2 ngày trước",
                                    type: "Nhà hàng",
                                    price: "$500,000",
                                    tag: "Thương lượng",
                                    note: [
                                       "Nam Phuong Restaurant",
                                       "36 seats",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                                 {
                                    img: "pro-3.jpg",
                                    time: "2 ngày trước",
                                    type: "Kinh doanh khác",
                                    price: "$500,000",
                                    note: [
                                       "Xưởng sửa chữa ô tô Đại Việt",
                                       "11,300 sqft"
                                    ],
                                    rent: "$1,500",
                                    income: "$1,000,000",
                                    address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                                 },
                              ]
                           each item, index in proArr
                              if(index == 2)
                                 .pro-item.col.col-6
                                    +proBanner("--modifier --first")
                              .pro-item.col.col-6
                                 +proItem(item)
                           - 
                              var proArrFive = [
                                 {
                                    img: "pro-1-1.jpg",
                                    name: "Giải pickeball",
                                    des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                    address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                    time: "Sept 14 – 16, 2024",
                                    views: "1000"
                                 },
                                 {
                                    img: "pro-1-2.jpg",
                                    name: "Giải pickeball",
                                    des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                    address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                    time: "Sept 14 – 16, 2024",
                                    views: "1000"
                                 },
                                 {
                                    img: "pro-1-3.jpg",
                                    name: "Gặp mặt đồng hương Đà Nẵng",
                                    des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                    address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                    time: "Sept 14 – 16, 2024",
                                    views: "1000"
                                 },
                                 {
                                    img: "pro-1-4.jpg",
                                    name: "Gặp mặt hội Sài Gòn Ơi",
                                    des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                    address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                    time: "Sept 14 – 16, 2024",
                                    views: "1000"
                                 }
                              ]
                           each item, index in proArrFive
                              if(index == 2)
                                 .pro-item.col.col-third 
                                    +proBanner("--modifier --third")
                              .pro-item.col.col-third
                                 +proItemThird(item)
                           each item in Array(4)
                              .pro-item.col
                                 +proItemFourth(item)
                        +PageNumber()
                     footer.ft 
                        .container 
                           .ft-wrap 
                              .ft-head 
                                 .ft-logo 
                                    a(href="").custom-logo-link
                                       +img("logo.svg")
                                 .t-slogan
                                    span.t-text 
                                       | Cổng thông tin 
                                       span.fw-7.c-pri 
                                          | MIỄN PHÍ 
                                       | dành cho cộng đồng người Việt tại Mỹ
                              .ft-nav
                                 ul.menu 
                                    -
                                       var arrs = [
                                          {
                                             txt:"VIỆC LÀM",
                                          },
                                          {
                                             txt:"MUA CỬA TIỆM",
                                          },
                                          {
                                             txt:"VIỆT EVENTS",
                                          },
                                          {
                                             txt:"THUÊ NHÀ",
                                          },
                                          {
                                             txt:"MUA NHÀ",
                                          },
                                          {
                                             txt:"RAO VẶT",
                                          },
                                          {
                                             txt:"LIÊN HỆ QUẢNG CÁO",
                                          },
                                       ]
                                    each i,index in arrs
                                       li
                                          a(href="")
                                             | #{i.txt}
                              .ft-sc 
                                 .social 
                                    .social-list 
                                       a(href="").social-link 
                                          +img("ic-fb.svg") 
                                       a(href="").social-link 
                                          +img("ic-yt.svg") 
                                       a(href="").social-link 
                                          +img("ic-ins.svg") 
                                       a(href="").social-link 
                                          +img("ic-x.svg")
                              .ft-panel 
                                 .ft-list.row 
                                    -
                                       var arrs = [
                                          {
                                             tt:"LIÊN HỆ HỢP TÁC",
                                             mail:"contact@vietinfo.us",
                                             phone:"678 408 2288",
                                          },
                                          {
                                             tt:"LIÊN HỆ QUẢNG CÁO",
                                             mail:"ads@vietinfo.us",
                                             phone:"678 408 2288",
                                          },
                                          {
                                             tt:"HỖ TRỢ KỸ THUẬT",
                                             mail:"admin@vietinfo.us",
                                             phone:"678 408 2288",
                                          },
                                       ]
                                    each i,index in arrs
                                       .col.col-4
                                          .ft-box 
                                             .b-inner 
                                                span.t-text 
                                                   | #{i.tt}
                                                .b-gr 
                                                   a(href="").t-link
                                                      | Email:#{i.mail} 
                                                   a(href="").t-link
                                                      | Phone:#{i.phone} 
                              .ft-bank 
                                 .i-list
                                    each i,index in Array(8)
                                       a(href="").i-link
                                          +img(`icon-bank (${index+1}).svg`)
                              .ft-bot
                                 .ft-nav 
                                    ul.menu
                                       li 
                                          a(href="")
                                             | Privacy Policy
                                       li 
                                          a(href="")
                                             | Terms of Service 
                                       li 
                                          a(href="")
                                             | Ads Service Agreement
                                 span.t-text 
                                    |  Designed by Qixtech - Web Design & Digital Marketing
                                 span.t-text 
                                    | Copyright © 2024. VietInfo LLC. All Right Reserved. 