extends layout/layout

block vars
   -title = 'Home'
   -bodyClass = 'page-home'

block container 
   section.sec-home-bn
      .home-bn 
         .bg 
            +img("bn-home.jpg")
         .container 
            .home-bn-ctn
               h1.home-bn-tt 
                  |Nâng tầm 
                  br
                  |Giá trị Việt
               .home-bn-srch
                  form(action="")
                     .home-bn-srch-box
                        .sl 
                           select(name="" class="re-select-main" data-placeholder="Danh mục") 
                              option(value="")  Danh mục
                              option(value="1")  Danh mục 1
                              option(value="2")  Danh mục 2
                              option(value="3")  Danh mục 3
                        .ip 
                           .ip-wrap
                              +img("ic-pin.svg")
                              input(type="text" placeholder="State, city, ZIP code")
                           +Btn("Tìm kiếm","button")
                           button.ip-icon
                              +img("ic-srch.svg")
   section.sec-home-hero
      .home-hero.ss-pd-t
         .container
            .home-hero
               .home-hero-tags
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg
                     +img("hero-dec.png")
                  .home-hero-ctn
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg")
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right
                  +img("hero-img.jpg")
   section.sec-pro 
      .pro.ss-pd.pro-slider
         .container 
            .head-sc.mb-48
               +title("Việc làm tại North Carolina", "Việc làm sẵn có tại khu vực của bạn", "dcor")
               +SwiperControl()
            .swiper-container
               .swiper.rows
                  .swiper-wrapper
                     - 
                        var proArrSecond = [
                           {
                              name: "Tuyển phục vụ nhà hàng Việt Nam",
                              time: "59 phút trước",
                              type: "Nhà hàng",
                              name_location: "Pho Dai Viet Restaurant",
                              name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                              price: "25 - 40",
                              views: "500"
                           },
                           {
                              name: "Tuyển thợ làm nail",
                              time: "59 phút trước",
                              type: "Tiệm nail",
                              name_location: "Nail King Salon",
                              name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                              price: "25 - 40",
                              views: "500"
                           },
                           {
                              name: "Tuyển phục vụ nhà hàng Việt Nam",
                              time: "59 phút trước",
                              type: "Nhà hàng",
                              name_location: "Pho Dai Viet Restaurant",
                              name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                              price: "25 - 40",
                              views: "500"
                           },
                           {
                              name: "Tuyển nhân viên cắt tóc",
                              time: "59 phút trước",
                              type: "Việc khác",
                              name_location: "Japanese Restaurant",
                              name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                              price: "25 - 40",
                              views: "500"
                           },
                           {
                              name: "Tuyển trợ lý luật sư",
                              time: "59 phút trước",
                              type: "Văn phòng",
                              name_location: "United Lawyer Firm",
                              name_address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067",
                              price: "25 - 40",
                              views: "500"
                           },
                        ]
                     each item in proArrSecond
                        .swiper-slide.col.col-4
                           .pro-wr.second
                              .pro-content 
                                 .pro-flex 
                                    .pro-time #{item.time}
                                    .pro-type #{item.type}
                                 h3.pro-name #{item.name}
                                 ul.pro-ul 
                                    li 
                                       .pro-li
                                          +img('ic-pro-1.svg')
                                          span.txt #{item.name_location}
                                    li 
                                       .pro-li
                                          +img('ic-pro-2.svg')
                                          span.txt #{item.name_address}
                                 .pro-flex
                                    .pro-li
                                       +img('ic-pro-3.svg')
                                       span.txt 
                                          span(style="font-size: 1.1em").c-pri.fw-6 #{item.price}
                                          span /hour
                                    .pro-li
                                       +img('ic-pro-4.svg')
                                       span.txt #{item.views} Views
                     .swiper-slide.col.col-4
                        +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-home-number 
      .home-number.ss-pd
         .container 
            .home-number-list.row.rows-4 
               -
                  var numbers = [
                     { 
                        icon:"number1.png",
                        tt:"317826",
                        des:"Lượt truy cập"
                     },
                     {
                        icon:"number2.png",
                        tt:"20826",
                        des:"Tài khoản đăng ký"
                     },
                     {
                        icon:"number3.png",
                        tt:"20826",
                        des:"Việc làm"
                     },
                     {
                        icon:"number4.png",
                        tt:"20826",
                        des:"Bất động sản"
                     },
                     {
                        icon:"number5.png",
                        tt:"20826",
                        des:"Cửa tiệm - nhà hàng"
                     },
                     {
                        icon:"number6.png",
                        tt:"20826",
                        des:"Events - Sự kiện"
                     },
                     {
                        icon:"number7.png",
                        tt:"20826",
                        des:"Rao vặt"
                     },
                     {
                        icon:"number8.png",
                        tt:"20826",
                        des:"Businesses listing"
                     }
                  ]
               each number in numbers
                  .col
                     .home-number-item
                        .inner
                           .icon 
                              +img(number.icon)
                           h4.tt.countNum=number.tt 
                           p.des=number.des
   section.sec-pro 
      .pro.ss-pd.pro-slider
         .container 
            .head-sc.mb-48
               +title("Sang nhượng Business tại North Carolina", "Nhà hàng, cửa tiệm, business đang rao bán", "dcor")
               +SwiperControl()
            .swiper-container 
               .swiper.rows
                  .swiper-wrapper 
                     - 
                        var proArr = [
                           {
                              img: "pro-1.jpg",
                              time: "2 ngày trước",
                              type: "Tiệm nail",
                              price: "$500,000",
                              tag: "Thương lượng",
                              note: [
                                 "6 tables",
                                 "6 chairs",
                                 "11,300 sqft"
                              ],
                              rent: "$1,500",
                              income: "$1,000,000",
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-2.jpg",
                              time: "2 ngày trước",
                              type: "Nhà hàng",
                              price: "$500,000",
                              tag: "Thương lượng",
                              note: [
                                 "Nam Phuong Restaurant",
                                 "36 seats",
                                 "11,300 sqft"
                              ],
                              rent: "$1,500",
                              income: "$1,000,000",
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-3.jpg",
                              time: "2 ngày trước",
                              type: "Kinh doanh khác",
                              price: "$500,000",
                              note: [
                                 "Xưởng sửa chữa ô tô Đại Việt",
                                 "11,300 sqft"
                              ],
                              rent: "$1,500",
                              income: "$1,000,000",
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                              {
                              img: "pro-6.jpg",
                              time: "2 ngày trước",
                              type: "Tiệm nail",
                              price: "$500,000",
                              note: [
                                 "6 tables",
                                 "6 chairs",
                                 "11,300 sqft"
                              ],
                              rent: "$1,500",
                              income: "$1,000,000",
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-4.jpg",
                              time: "2 ngày trước",
                              type: "Tiệm nail",
                              price: "$500,000",
                              note: [
                                 "6 tables",
                                 "6 chairs",
                                 "11,300 sqft"
                              ],
                              rent: "$1,500",
                              income: "$1,000,000",
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                        ]
                     each item in proArr
                        .swiper-slide.col.col-4
                           .pro-wr 
                              .pro-img 
                                 .pro-time #{item.time}
                                 .pro-type #{item.type}
                                 a(href="#").inner 
                                    +img(item.img)
                              .pro-content
                                 if item.tag
                                    .pro-top 
                                       h3.pro-name #{item.price}
                                       if item.tag
                                          .pro-tag #{item.tag}
                                 else 
                                    h3.pro-name #{item.price}
                                 if item.name
                                    h3.pro-name #{item.name}
                                 if item.note.length > 0 
                                    .pro-note
                                       each note in item.note
                                          .pro-note-item 
                                             span.txt.fw-5.c-txt-2 #{note}
                                 if item.rent || item.income
                                    .pro-note
                                       if item.rent
                                          .pro-note-item 
                                             span.txt.fw-5 Rent: 
                                                span.fw-6.c-txt-3 #{item.rent}
                                                span(style="font-size: .8em") /month
                                       if item.income
                                          .pro-note-item 
                                             span.txt.fw-5 Income: 
                                                span.fw-6.c-txt-3 #{item.income}
                                                span(style="font-size: .8em") /year
                                 .pro-des #{item.address}
                     .swiper-slide.col.col-4 
                        +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-home-solve 
      .home-solve.ss-pd
         .container 
            .head-sc.mb-48.t-center
               .head
                  h2.t-title 
                     | Giải pháp công nghệ cho doanh nghiệp
                  p.t-des 
                     | Với đội ngũ là những chuyên gia thiết kế, lập trình viên giàu kinh nghiệm, dẫn dắt bởi CTO là giáo sư nghành khoa học máy tính tại Mỹ, chúng tôi hợp tác cùng <span class='fw-7'>Qixtech LLC</span>, công ty công nghệ hàng đầu cung cấp các giải pháp IT chuyên nghiệp cho doanh nghiệp.
            .home-solve-list.row.rows-3.gap-res
               -
                  var solves = [
                     {
                        icon:"solve1.png",
                        tt:"Thiết kế banner",
                        des:"Chúng tôi cung cấp dịch vụ thiết kế banner quảng cáo cho cá nhân và doanh nghiệp",
                     },
                     {
                        icon:"solve2.png",
                        tt:"Thiết kế website",
                        des:"Với 15+ năm kinh nghiệm chúng tôi thiết kế customize Website chuẩn SEO chuyên nghiệp cho doanh nghiệp",
                     },
                     {
                        icon:"solve3.png",
                        tt:"Digital Marketing",
                        des:"Giải pháp digital marketing chuyên nghiệp nhằm giúp khách hàng quảng bá dịch vụ và nâng tầm vị thế thương hiệu",
                     }
                  ]
               each solve in solves  
                  .col 
                     .home-solve-item
                        .inners 
                           .icon 
                              +img(solve.icon)
                           .bot
                              h4.tt=solve.tt 
                              p.des=solve.des
                              +Btn("Liên hệ tư vấn","","trans")
   section.sec-home-hero
      .home-hero.ss-pd-t
         .container
            .home-hero
               .home-hero-tags
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg
                     +img("hero-dec.png")
                  .home-hero-ctn
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg")
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right
                  +img("hero-img.jpg")
   section.sec-pro 
      .pro.ss-pd.pro-slider-third
         .container
            .head-sc.mb-48
               +title("Việt Event tại North Carolina", "Sự kiện người Việt sắp diễn ra (event cộng đồng, show diễn, hoạt động hội nhóm...etc)", "dcor")
               +SwiperControl()
            .mb-24 
               .pro-select 
                  span.txt Sắp sếp
                  .b-ip-select
                     .selectCus
                        .selectCusValue
                           input(type="text", hidden)
                           span.icon-arrow 
                              i.fa-light.fa-chevron-down
                           .txt Loại sự kiện
                        .selectCusOptions
                           label.selectCusAll 
                              input(type="checkbox")
                              span.txt Cộng đồng
                           label.selectCusOption 
                              input(type="checkbox")
                              span.txt Hội nhóm
                           label.selectCusOption 
                              input(type="checkbox")
                              span.txt Giải trí
                           label.selectCusOption 
                              input(type="checkbox")
                              span.txt Thể thao
                           .selectCusApply Áp dụng
            .pro-side.row 
               .pro-left.col 
                  .pro-bar 
                     .pro-calendar.selectJS
                        .pro-calendar-head.selectJSHead
                           span.pro-li 
                              +img('ic-calendar-white.svg')
                              span.txt.selectJSTxt 
                           i.fas.fa-angle-down
                           -
                              const months = [
                                    { name: "May 2024", active: false },
                                    { name: "June 2024", active: false },
                                    { name: "July 2024", active: false },
                                    { name: "August 2024", active: false },
                                    { name: "September 2024", active: false },
                                    { name: "October 2024", active: false },
                                    { name: "November 2024", active: true },
                                    { name: "December 2024", active: false },
                                    { name: "January 2025", active: false },
                                    { name: "February 2025", active: false },
                                    { name: "March 2025", active: false },
                                    { name: "April 2025", active: false },
                                    { name: "May 2025", active: false }
                                    ];
                        ul.selectJSBody 
                           each li in months
                              li.selectJSItem(class=li.active ? 'active' : '') #{li.name}
                     .--hide-mobile
                        +Btn("Xem tất cả", "", "trans full", true)
                     .pro-qc 
                        +img('pro-qc.jpg')
               .pro-right.col
                  .pro-panel
                     .swiper-container 
                        .swiper.rows
                           .swiper-wrapper 
                              each item in Array(1)
                                 .swiper-slide.col
                                       .pro-list.row 
                                          - 
                                             var proArrFive = [
                                                {
                                                   img: "pro-1-1.jpg",
                                                   name: "Giải pickeball",
                                                   des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                                   address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                                   time: "Sept 14 – 16, 2024",
                                                   views: "1000"
                                                },
                                                {
                                                   img: "pro-1-2.jpg",
                                                   name: "Giải pickeball",
                                                   des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                                   address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                                   time: "Sept 14 – 16, 2024",
                                                   views: "1000"
                                                },
                                                {
                                                   img: "pro-1-3.jpg",
                                                   name: "Gặp mặt đồng hương Đà Nẵng",
                                                   des: "Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai)",
                                                   address: "9185 Old Southwick Pass, Johns Creek, GA 30067 (Nhà thờ Việt Nam)",
                                                   time: "Sept 14 – 16, 2024",
                                                   views: "1000"
                                                }
                                             ]
                                          each item, index in proArrFive
                                             if(index == 2)
                                                .pro-item.col.col-third.--hide-desk
                                                   .pro-qc 
                                                      +img('pro-qc.jpg')
                                             .pro-item.col.col-third
                                                .pro-wr.third
                                                   .pro-img 
                                                      .inner 
                                                         +img(item.img)
                                                   .pro-content 
                                                      h3.pro-name #{item.name}
                                                      p.pro-des #{item.des}
                                                      ul.pro-ul 
                                                         li 
                                                            .pro-li.fw-5
                                                               +img('ic-pro-2.svg')
                                                               span.txt #{item.address}
                                                         li 
                                                            .pro-note 
                                                               .pro-note-item 
                                                                  .pro-li.fw-5
                                                                     +img('ic-pro-6.svg')
                                                                     span.txt #{item.time}
                                                               .pro-note-item 
                                                                  .pro-li.fw-5
                                                                     +img('ic-pro-4.svg')
                                                                     span.txt #{item.views}
                     .box-btn
                        +Btn("Xem tất cả", "", "trans m-mid", true)   
            .pro-foot.--hide-desk 
               +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-pro 
      .pro.ss-pd.pro-slider
         .container 
            .head-sc.mb-48
               +title("Bất động sản cho thuê tại North Carolina", "Nhà/phòng ở - văn phòng người Việt đang sẵn cho thuê", "dcor")
               +SwiperControl()
            .swiper-container 
               .swiper.rows
                  .swiper-wrapper 
                     - 
                        var proArrThird = [
                           {
                              img: "pro-7.jpg",
                              time: "2 ngày trước",
                              type: "Nhà ở",
                              price: "$1,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-8.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              name: "ABC Plaza",
                              note: [
                                 {
                                    name: "$24.00 - $25.00 SF/YR",
                                 },
                                 {
                                    name: "150 - 2000 sqft",
                                 },
                                 {
                                    name: "Built in 2018"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-9.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              name: "ABC Plaza",
                              note: [
                                 {
                                    name: "$24.00 - $25.00 SF/YR",
                                 },
                                 {
                                    name: "150 - 2000 sqft",
                                 },
                                 {
                                    name: "Built in 2018"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-12.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              price: "$1,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-10.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              price: "$1,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                        ]
                     each item in proArrThird
                        .swiper-slide.col.col-4
                           .pro-wr
                              .pro-img 
                                 .pro-time #{item.time}
                                 .pro-type #{item.type}
                                 a(href="#").inner 
                                    +img(item.img)
                              .pro-content
                                 if item.price
                                    h3.pro-name #{item.price}
                                       span(style="font-size: .8em").fw-4 /month
                                 if item.name
                                    h3.pro-name #{item.name}
                                 if item.note.length > 0 
                                    .pro-note
                                       each note in item.note
                                          .pro-note-item 
                                             if(note.icon)
                                                .pro-li.fw-6.c-txt-2 
                                                   +img(note.icon)
                                                   span.txt #{note.name}
                                             else 
                                                span.txt.fw-5.c-txt-2 #{note.name}
                                 .pro-des #{item.address}
                     .swiper-slide.col.col-4 
                        +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-home-hero
      .home-hero
         .container
            .home-hero
               .home-hero-tags
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg
                     +img("hero-dec.png")
                  .home-hero-ctn
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg")
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right
                  +img("hero-img.jpg")
   section.sec-pro 
      .pro.ss-pd.pro-slider
         .container 
            .head-sc.mb-48
               +title("Bất động sản đang bán tại North Carolina", "Nhà ở - văn phòng thương mại đang bán", "dcor")
               +SwiperControl()
            .swiper-container 
               .swiper.rows
                  .swiper-wrapper 
                     - 
                        var proArrFour = [
                           {
                              img: "pro-13.jpg",
                              time: "2 ngày trước",
                              type: "Nhà ở",
                              price: "$134,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-14.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              name: "ABC Plaza",
                              note: [
                                 {
                                    name: "$2,500,000",
                                 },
                                 {
                                    name: "20,000 SF",
                                 },
                                 {
                                    name: "Built in 2018"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-15.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              price: "$231,000",
                              note: [
                                 {
                                    name: "$2,500,000",
                                 },
                                 {
                                    name: "20,000 SF",
                                 },
                                 {
                                    name: "Built in 2018"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-18.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              price: "$1,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                           {
                              img: "pro-16.jpg",
                              time: "2 ngày trước",
                              type: "Thương mại",
                              price: "$341,000",
                              note: [
                                 {
                                    name: "2 bed",
                                    icon: "ic-pro-bed.svg"
                                 },
                                 {
                                    name: "2 ba",
                                    icon: "ic-pro-shower.svg"
                                 },
                                 {
                                    name: "11,300 sqft"
                                 },
                              ],
                              address: "471 Tam Oshanter Dr SE, Marietta, GA, 30067"
                           },
                        ]
                     each item in proArrFour
                        .swiper-slide.col.col-4
                           .pro-wr
                              .pro-img 
                                 .pro-time #{item.time}
                                 .pro-type #{item.type}
                                 a(href="#").inner 
                                    +img(item.img)
                              .pro-content
                                 if item.price
                                    h3.pro-name #{item.price}
                                 if item.name
                                    h3.pro-name #{item.name}
                                 if item.note.length > 0 
                                    .pro-note
                                       each note in item.note
                                          .pro-note-item 
                                             if(note.icon)
                                                .pro-li.fw-5.c-txt-2 
                                                   +img(note.icon)
                                                   span.txt #{note.name}
                                             else 
                                                span.txt.fw-5.c-txt-2 #{note.name}
                                 .pro-des #{item.address}
                     .swiper-slide.col.col-4 
                        +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-home-hero
      .home-hero
         .container
            .home-hero
               .home-hero-tags
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg
                     +img("hero-dec.png")
                  .home-hero-ctn
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ic-fb.svg") 
                              a(href="").social-link 
                                 +img("ic-yt.svg") 
                              a(href="").social-link 
                                 +img("ic-ins.svg")
                              a(href="").social-link 
                                 +img("ic-x.svg")
               .home-hero-right
                  +img("hero-img.jpg")
   section.sec-pro 
      .pro.ss-pd.pro-slider-second 
         .container 
            .head-sc.mb-48
               +title("Rao vặt khác tại North Carolina", "Dịch vụ và thông tin hoạt động và dịch vụ khác trong cộng đồng", "dcor")
               +SwiperControl()
            .swiper-container 
               .swiper.rows
                  .swiper-wrapper
                     each item in Array(1)
                        .swiper-slide.col
                           .pro-grid 
                              .pro-grid-item 
                                 .pro-bner 
                                    .pro-bner-tag Sponsored
                                    .pro-bner-dc
                                       +img('pro-bner-dc.png')
                                    .pro-bner-img
                                       +img('pro-bner-img.jpg')
                                    .pro-bner-content 
                                       h3.pro-bner-name 
                                          |Chăm sóc
                                          br
                                          |người lớn tuổi
                                       p.pro-bner-des Dịch vụ tận tình, nhân viên chu đáo
                                       .pro-btn  
                                          span.txt Khám phá ngay
                              each item in Array(5)
                                 .pro-grid-item 
                                    .pro-wr.four 
                                       +img("ic-loa.svg")
                                       .pro-content 
                                          h3.pro-name Chăm sóc người già - Marietta, GA 30062
                                          .pro-des Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...Tìm người chăm sóc...
                                          .pro-note 
                                             .pro-note-item 
                                                .pro-li.fw-6.c-txt-2 
                                                   +img('ic-pro-2.svg')
                                                   span.txt Marietta 30062
                                             .pro-note-item 
                                                .pro-li.fw-6.c-txt-2 
                                                   +img('ic-pro-7.svg')
                                                   span.txt 2 ngày trước
                                             .pro-note-item 
                                                .pro-li.fw-6.c-txt-2 
                                                   +img('ic-pro-4.svg')
                                                   span.txt 1000
                              .pro-grid-item 
                                 +Btn("Xem tất cả", "", "trans m-mid", true)                 
            .pro-foot.--hide-desk 
               +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-pro
      .pro.ss-pd.--bg
         .container 
            .head-sc.mb-48
               +title("Góc tài liệu/thông tin cho cộng đồng", "Tài liệu thông tin miễn phí cho cộng đồng (luật sư, phòng khám Việt, khai thuế, handymen Việt, etc.)", "dcor")
            .pro-fil.selectJS
               .pro-fil-head.selectJSHead
                  span.txt.selectJSTxt  
                  i.fas.fa-angle-down
               ul.selectJSBody 
                  li 
                     .pro-fil-link.selectJSItem.active Tài liệu
                  li 
                     .pro-fil-link.selectJSItem Cẩm nang business
                  li 
                     .pro-fil-link.selectJSItem Phòng khám Việt 
                  li 
                     .pro-fil-link.selectJSItem Khai thuế/CPA Việt
                  li 
                     .pro-fil-link.selectJSItem Luật sư Việt
                  li 
                     .pro-fil-link.selectJSItem Realtor Việt
                  li 
                     .pro-fil-link.selectJSItem Thợ Việt sửa nhà/vườn
            .pro-row.row 
               .pro-col.col 
                  .pro-list.row 
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-out
                              .inner
                                 +img('pro-out.jpg')
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi trắc nghiệm về Nail - Cẩm nang
                              p.pro-des Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai, TP Hà Nội) với nhiều hoạt động hấp dẫn; là một trong những sự kiện quan trọng của quận Hoàng Mai hướng tới chào mừng kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10-10-1954 / 10-10-2024). Hội chợ được tổ chức nhằm thúc đẩy hoạt động xúc tiến thương mại, giao lưu kinh tế, tạo điểm sinh hoạt văn hóa, vui chơi giải trí, mua sắm cho nhân dân trong dịp kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10/10).
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi trắc nghiệm về Nail - Cẩm nang
                              p.pro-des Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai, TP Hà Nội) với nhiều hoạt động hấp dẫn; là một trong những sự kiện quan trọng của quận Hoàng Mai hướng tới chào mừng kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10-10-1954 / 10-10-2024). Hội chợ được tổ chức nhằm thúc đẩy hoạt động xúc tiến thương mại, giao lưu kinh tế, tạo điểm sinh hoạt văn hóa, vui chơi giải trí, mua sắm cho nhân dân trong dịp kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10/10).
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi trắc nghiệm về Nail - Cẩm nang
                              p.pro-des Theo Ban tổ chức, Hội chợ mùa Thu Hoàng Mai năm 2024 sẽ được tổ chức từ ngày 4 đến 8/10 tại khu vực Hồ Đền Lừ (phường Hoàng Văn Thụ, quận Hoàng Mai, TP Hà Nội) với nhiều hoạt động hấp dẫn; là một trong những sự kiện quan trọng của quận Hoàng Mai hướng tới chào mừng kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10-10-1954 / 10-10-2024). Hội chợ được tổ chức nhằm thúc đẩy hoạt động xúc tiến thương mại, giao lưu kinh tế, tạo điểm sinh hoạt văn hóa, vui chơi giải trí, mua sắm cho nhân dân trong dịp kỷ niệm 70 năm Ngày Giải phóng Thủ đô (10/10).
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
               .pro-col.col
                  .pro-list.row 
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi về Nail - Cẩm nang
                              p.pro-des Bộ các câu hỏi chuyên sâu phục vụ bài thi xét duyệt thi chứng chỉ làm móng
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi về Nail - Cẩm nang
                              p.pro-des Bộ các câu hỏi chuyên sâu phục vụ bài thi xét duyệt thi chứng chỉ làm móng
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
                     .pro-item.col 
                        .pro-wr.five 
                           .pro-content 
                              .pro-li 
                                 +img('ic-pro-4.svg')
                                 span.txt 1000
                              h3.pro-name Bộ 5000 câu hỏi về Nail - Cẩm nang
                              p.pro-des Bộ các câu hỏi chuyên sâu phục vụ bài thi xét duyệt thi chứng chỉ làm móng
                              .pro-control 
                                 a.pro-btn(href="#")
                                    span.txt Xem chi tiết
                                 a.pro-btn(href="#").second
                                    +img('ic-dl.svg')
                                    span.txt Tải xuống
            .pro-foot 
               +Btn("Xem tất cả", "", "trans m-mid", true)
   section.sec-home-hero
      .home-hero.ss-pd.--bg
         .container
            .home-hero
               .home-hero-tags
                  span.home-hero-tag Sponsored
               .home-hero-left
                  .bg
                     +img("hero-dec.png")
                  .home-hero-ctn
                     h3.home-hero-tt Trải nghiệm xứng tầm
                     p.home-hero-des Nhà phát triển bất động sản hàng hiệu
                     .home-hero-bot 
                        +Btn("Khám phá ngay","")
                        .social 
                           .social-list 
                              a(href="").social-link 
                                 +img("ft-icon (1).svg") 
                              a(href="").social-link 
                                 +img("ft-icon (2).svg") 
                              a(href="").social-link 
                                 +img("ft-icon (3).svg")
                              a(href="").social-link 
                                 +img("ft-icon (4).svg")
               .home-hero-right
                  +img("hero-img.jpg")
               
